.loading {
  display: flex;
  justify-content: center;
  color: var(--font-white);
  font-size: 2rem;
}

.banner {
  display: block;

  img {
    width: 100%;
    max-height: 25rem;
    object-fit: cover;
    margin-bottom: 5rem;
  }
}

.post {

  .title {
    display: block;
    font-size: 3rem;
    line-height: 3.63rem;
    margin-bottom: 1.5rem;
  }
}

.postContent {

  margin-top: 4rem;
  line-height: 2rem;
  font-size: 1.125rem;
  color: var(--font-gray-200);

  p, ul {
    margin: 1.5rem 0;
  }

  ul {
    padding-left: 1.5rem;

    li {
      margin: 0.5rem 0;
    }
  }

  .heading {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 600;
    color: var(--font-white);
  }
}

.footerPage {
  margin-top: 3.75rem;
  margin-bottom: 13.63rem;
  padding-top: 3rem;
  border-top: 1px solid var(--font-gray-800);

  .postNavigationButtons {
    display: flex;
    justify-content: space-between;

    a {
      color: var(--font-white);

      p {
        margin-top: 0.5rem;
        color: var(--font-pink-500);
      }

      margin-bottom: 5rem;
    }
  }

  margin-bottom: 5rem;
}
